<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Il y a eu u  problème pendant le transfer de fichier !</p>
    <p>Message d'erreur : <%= message %></p>
    <p>Status : <%= error.status %></p>
    <hr>
    <p><a href="./">Uploader un autre fichier</a></p>
</body>
</html>